<div class="cards text-center">
    <p class="font fixed-top text-left">Bienvenido, <b>{{ username }}</b></p>
    <p class="font fixed-top text-right">BANCO HISPALIS</p>
    <form>
        <div class="btn card-mgc card bg-light">
            <div class="card-body text-center">
                <p class=" card-text cardsize">Esta cuenta bancaria contiene saldo,
                por lo que no se puede eliminar. Elimine el saldo para poder eliminarla</p>
            </div>
        </div>
        <div class="btn card-mgl card bg-light">
            <div class="card-body text-center">
                <p class="card-text cardsize" [routerLink]="['/accounts']">Aceptar</p>
            </div>
        </div>
    </form>
</div>