.font{
    color:white;
    font-family: 'teko';
    font-size: 20px;
}
.input{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2px;
    margin: 10px;
  
  }

  button{
    border: none;
    background-color: transparent;
    }
    
  .card-mgl{
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;
}
.card-mgr{
    margin-left: 300px;
    margin-right: 100px;
    margin-top: -78px;
}
.cards{
    padding: 40px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 150px;
    color: white;
    font-size: 25px;
  }