<div class="cards text-center">
    <p class="font fixed-top text-left">Bienvenido, <b>{{ username }}</b></p>
    <p class="font fixed-top text-right">BANCO HISPALIS</p>
    <form>
        <input type="name_account" name = "name_account" class="input" placeholder="Introduzca nombre de cuenta" />
        <br />
        <div class="btn card-mgl card bg-light">
            <div class="card-body text-center">
                <button class="card-text cardsize">Aceptar</button>
            </div>
        </div>
        <div class="btn card-mgr card bg-light">
            <div class="card-body text-center">
                <p class="card-text cardsize" [routerLink]="['/accounts']">Cancelar</p>
            </div>
        </div>
    </form>
</div>

<!--
    (submit)="delete()"
    [(ngModel)]="account.name_account"
-->