/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("/assets/img/greendiamond.jpg");
  background-color: #27ae6075;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'teko';
}
